node_modules
.env
.yarn

# Hardhat files
/cache
/artifacts
/test
/contracts

# TypeChain files
/typechain
/typechain-types
/yarn.lock

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

yarn.lock
package-lock.json